<div class="container">
    <div class="mt-5">
        <div class="row">
            <div class="col-12 col-md-5 offset-md-1 text-center text-md-start">
                <p class="lexend-deca-regular display-2 mb-5" id="type-element"></p>
                <div class="d-flex justify-content-center justify-content-md-start mb-5">
                    <!-- Contact Me Button -->
                    <a href="mailto:shrirajan331@gmail.com" class="btn btn-light m-2" data-tilt>
                        <i class="bi bi-envelope"></i> Contact Me
                    </a>
                    
                    
                    <!-- Download CV Button -->
                    <button type="button" class="btn btn-dark m-2" data-bs-toggle="modal" data-bs-target="#pdfModal" id="view-resume">
                        <i class="bi bi-file-earmark"></i> View Resume
                      </button>
                      
                </div>
                <div class="d-flex justify-content-center justify-content-md-start mb-4">
                    <!-- LinkedIn -->
                    <a href="https://www.linkedin.com/in/shriraam-nagarajan-827b38198/" target="_blank" class="icon-link">
                        <i class="bi bi-linkedin"></i>
                    </a>
                
                    <!-- GitHub -->
                    <a href="https://github.com/ShriraamNagarajan" target="_blank" class="icon-link">
                        <i class="bi bi-github"></i>
                    </a>

                       <!-- X -->
                       <a href="https://x.com/ShriraamNa48561" target="_blank" class="icon-link">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                </div>
                
            </div>
            <div class="col-12 col-md-6 text-center">
                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="glow-circle">
                            <p class="text-start">
                                Hi! I’m Shriraam Nagarajan, a dedicated <span style="color:#EAB308;">software engineering graduate</span> with a passion for creating innovative and efficient solutions. I continuously upskill myself and explore new facets of software engineering, adopting best practices to become a top-notch software engineer. <br>
    
                                <br>I’m particularly interested in <span style="color:#EAB308;">full-stack web development, backend development, API development, and cloud computing</span>. I am eager to apply my skills to exciting projects and roles that challenge me to grow further.
                            </p>
                        </div>
                    </div>
                </div>
           
    
            </div>
        </div>
    </div>
    <!-- Bootstrap Modal -->
    <div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pdfModalLabel">View Resume</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <embed id="pdf-embed" src="../../../assets/pdf/shriraam_nagrajan_resume.pdf" type="application/pdf" width="100%" height="500px" />
                </div>
            </div>
        </div>
    </div>
</div>

