<div class="container">
    <!-- Research Section -->
    <section id="research" class="mt-5">
        <h2 class="text-start lexend-deca-bold mb-5">My <span style="color:#EAB308;">Research Work</span></h2>
        <div class="card mb-3 shadow-sm" data-aos="fade-up">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Integrating Cloud-Based Crowdsourcing and Interactive Learning for Enhanced Code Smell Identification and Resolution</h5>
                        <hr>
                        <p class="card-text">
                            <i class="bi bi-people-fill me-1"></i> <strong>Authors:</strong> Shriraam Nagarajan, Dr. Vazeerudeen Hameed, Assoc. Prof. Dr. Muhammad Ehsan Rana
                        </p>
                        <p class="card-text">
                            <i class="bi bi-calendar-event me-1"></i> <strong>Conference:</strong> 5th International Conference on Data Engineering and Communication Technology (ICDECT), 2024
                        </p>
                        <p class="card-text">
                            <i class="bi bi-building me-1"></i> <strong>Organized by:</strong> Asia Pacific University of Technology & Innovation (APU), Springer
                        </p>
                        <p class="card-text">
                            <i class="bi bi-clock me-1"></i> <small>Presented on September 28-29, 2024</small>
                        </p>
                        <hr>
                        <!-- Status Badge -->
                        <span class="badge bg-warning text-dark">Publication in Progress</span>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

</div>