
 <div class="container">
    <!-- Projects Section -->
    <section id="projects" class="mt-5">
        <h2 class="text-start lexend-deca-bold mb-5">My <span style="color:#EAB308;">Projects</span></h2>
        <ul class="nav nav-tabs justify-content-center mb-3" id="projectTabs" role="tablist">
            <li class="nav-item m-2" role="presentation">
                <button class="nav-link active btn-dark"id="academic-tab" data-bs-toggle="tab" data-bs-target="#academic" type="button" role="tab" aria-controls="academic" aria-selected="true" data-tilt>Academic Projects</button>
            </li>
            <li class="nav-item m-2" role="presentation">
                <button class="nav-link btn-dark" id="personal-tab" data-bs-toggle="tab" data-bs-target="#personal" type="button" role="tab" aria-controls="personal" aria-selected="false" data-tilt>Personal Projects</button>
            </li>
        </ul>
        <div class="tab-content" id="projectTabsContent">
            <!-- Academic Projects Tab -->
            <div class="tab-pane fade show active" id="academic" role="tabpanel" aria-labelledby="academic-tab">
                <div class="row mt-1 g-5">
                    <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up">
                        <div class="card text-white h-100 p-3 pt-0" style="background-color:#000;border-color:#fff">
                            <div class="card-body position-relative">
                                <p class="h5 card-text inconsolata-light">May 2024 - Sep 2024</p>   
                                <p class="h4 card-text inconsolata-bold" style="color:#EAB308;">CoSmellRefine</p>     
                                <p class="h5 card-text inconsolata-bold">Undergraduate Final Year Project</p>   
                                <ul class="p-3">
                                    <li>Developed CoSmellRefine as my undergraduate final year project, a web-based platform that enhances code smell identification and resolution through cloud-based crowdsourcing and interactive learning. </li>
                                    <li>Utilized ASP.NET Core MVC, SignalR, SQL Server to build real-time code review and collaboration features.</li>
                                    <li>Integrated jQuery, AJAX, and Bootstrap to provide a responsive and dynamic user interface.</li>
                                    <li>Integrated with Azure Cloud for object storage, caching, and cloud database management.</li>
                                </ul>
                                <a href="https://github.com/ShriraamNagarajan/CoSmellRefine"  target="_blank" class="btn btn-dark position-absolute bottom-0 start-0">View Project</a>
                            </div>  
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up">
                        <div class="card text-white h-100 p-3 pt-0" style="background-color:#000;border-color:#fff">
                            <div class="card-body position-relative">
                                <p class="h5 card-text inconsolata-light">May 2024 - Sep 2024</p>   
                                <p class="h4 card-text inconsolata-bold" style="color:#EAB308;">FinInsight</p>     
                                <p class="h5 card-text inconsolata-bold">Finance Blogging Application</p>   
                                <ul class="p-3">
                                    <li>Part of a 3-member group project</li>
                                    <li>Developed FinInsight, a finance blogging application designed to provide financial content and insights, leveraging ASP.NET Core for backend functionality and HTML, CSS, JavaScript, and Bootstrap for a responsive user interface.</li>
                                    <li>Integrated with AWS Cloud services, including Elastic Beanstalk for hosting, S3 for web data storage, and SNS for email notifications, Cloud SQL Database (SQL Server) for efficient data management, and CloudWatch and X-Ray for performance tracking and troubleshooting.</li>
                                    <li>Followed Scrum methodology, collaborating in weekly sprints.</li>
                                </ul>
                                <a href="https://github.com/hasan-zaid/Finance_BlogPost" target="_blank" class="btn btn-dark position-absolute bottom-0 start-0">View Project</a>
                            </div>  
                        </div>
                    </div>
    
    
                    <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up">
                        <div class="card text-white h-100 p-3 pt-0" style="background-color:#000;border-color:#fff">
                            <div class="card-body position-relative">
                                <p class="h5 card-text inconsolata-light">Sep 2022 - Jan 2023</p>   
                                <p class="h4 card-text inconsolata-bold" style="color:#EAB308;">House Rental Dataset Analysis</p>     
                                <p class="h5 card-text inconsolata-bold">Data Analysis Project</p>   
                                <ul class="p-3">
                                    <li>Completed a data analysis project on a house rental dataset using R programming.</li>
                                    <li>Tasks included data cleaning, transformation, and analysis to identify factors affecting rental prices across locations.</li>
                                    <li>Utilized R packages: ggplot2, dplyr, tidyr, and lubridate for data manipulation, visualization, and modeling.</li>
                                </ul>
                                <a href="https://github.com/ShriraamNagarajan/House_Rental_DataAnalysis" target="_blank" class="btn btn-dark position-absolute bottom-0 start-0">View Project</a>
                            </div>  
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up">
                        <div class="card text-white h-100 p-3 pt-0" style="background-color:#000;border-color:#fff">
                            <div class="card-body position-relative">
                                <p class="h5 card-text inconsolata-light">Sep 2022 - Jan 2023</p>   
                                <p class="h4 card-text inconsolata-bold" style="color:#EAB308;">Rent To Go</p>     
                                <p class="h5 card-text inconsolata-bold">Car Rental System</p>   
                                <ul class="p-3">
                                    <li>Developed a desktop-based car rental system using Java programming language.</li>
                                    <li>Utilized GUI tools and advanced object-oriented concepts to build the system.</li>
                                </ul>
                                <a href="https://github.com/ShriraamNagarajan/Rent_To_Go" target="_blank" class="btn btn-dark position-absolute bottom-0 start-0">View Project</a>
                            </div>  
                        </div>
                    </div>
    
    
                    <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up">
                        <div class="card text-white h-100 p-3 pt-0" style="background-color:#000;border-color:#fff">
                            <div class="card-body position-relative">
                                <p class="h5 card-text inconsolata-light">Mar 2022 - Jun 2022</p>   
                                <p class="h4 card-text inconsolata-bold" style="color:#EAB308;">Lappy KL</p>     
                                <p class="h5 card-text inconsolata-bold">Laptop Repair Services Management System</p>   
                                <ul class="p-3">
                                    <li>Developed a management system for laptop repair services using C# programming language.</li>
                                    <li>Built with Microsoft Visual Studio, WinForms, and GUI tools.</li>
                                    <li>Utilized object-oriented concepts for application design.</li>
                                    <li>Stored all input data in a SQLite database.</li>
                                </ul>
                            </div>  
                        </div>
                    </div>
    
    
                    <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up">
                        <div class="card text-white h-100 p-3 pt-0" style="background-color:#000;border-color:#fff">
                            <div class="card-body position-relative">
                                <p class="h5 card-text inconsolata-light">Jan 2021 - Jan 2024</p>   
                                <p class="h4 card-text inconsolata-bold" style="color:#EAB308;">Database Projects</p>     
                                <p class="h5 card-text inconsolata-bold">Designed and implemented 3 database projects as part of university coursework</p>   
                                <ul class="p-3">
                                    <li>TravelSafe Airline Ticketing System (SQL Server): Developed a complete airline ticketing system with advanced constraints, triggers, and stored procedures for managing reservations, flights, and payments.<br>
                                    <a href="https://github.com/ShriraamNagarajan/TravelSafeDatabase" class="text-white">Github Project</a>
                                    </li>
                                    
                                    
                                    <li>LittleLemon Restaurant (MySQL): Created an optimized database solution for restaurant operations, including stored procedures, views, and triggers for managing orders, inventory, and employees.<br>
                                    <a href="https://github.com/ShriraamNagarajan/db-capstone-project" class="text-white">Github Project</a>
                                    </li>
                                    
                                    
                                    <li>Online Bookstore (SQL Server): Built a database solution for managing book inventory, customer orders, and sales tracking for an online bookstore.<br>
                                    <a href="https://github.com/ShriraamNagarajan/BookstoreDatabase" class="text-white">Github Project</a>
                                    </li>
                                </ul>
                            </div>  
                        </div>
                    </div>
                    
    
    
    
                </div>
            </div>
            <div class="tab-pane fade" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                <div class="row mt-1 g-5">
                    <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up">
                        <div class="card text-white h-100 p-3 pt-0" style="background-color:#000;border-color:#fff">
                            <div class="card-body position-relative">
                                <p class="h5 card-text inconsolata-light">May 2024 - Jun 2024</p>   
                                <p class="h4 card-text inconsolata-bold" style="color:#EAB308;">KindnessAPI</p>     
                                <p class="h5 card-text inconsolata-bold">API Project</p>   
                                <ul class="p-3">
                                    <li>Developed KindnessAPI to provide random acts of kindness for promoting positivity and well-being.</li>
                                    <li>Implemented features to retrieve, filter, suggest, update, and delete acts of kindness.</li>
                                    <li>Built using ASP.NET Core API and SQL Server with JWT-based authentication for secure access.</li>
                                </ul>
                                <a href="https://github.com/ShriraamNagarajan/KindnessAPI" target="_blank" class="btn btn-dark position-absolute bottom-0 start-0">View Project</a>
                            </div>  
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up">
                        <div class="card text-white h-100 p-3 pt-0" style="background-color:#000;border-color:#fff">
                            <div class="card-body position-relative">
                                <p class="h5 card-text inconsolata-light">May 2024 - Jun 2024</p>   
                                <p class="h4 card-text inconsolata-bold" style="color:#EAB308;">Customer Management Web Application</p>   
                                <ul class="p-3">
                                    <li>Developed a Customer Management Web Application using Angular and ASP.NET Core API.</li>
                                    <li>Implemented unit testing using Jasmine and Karma for both front-end and back-end testing.</li>
                                </ul>
                                <a href="https://github.com/ShriraamNagarajan/CustomerManagementApp" target="_blank" class="btn btn-dark position-absolute bottom-0 start-0">View Project</a>
                            </div>  
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up">
                        <div class="card text-white h-100 p-3 pt-0" style="background-color:#000;border-color:#fff">
                            <div class="card-body position-relative">
                                <p class="h5 card-text inconsolata-light">July 2022 - Aug 2022</p>   
                                <p class="h4 card-text inconsolata-bold" style="color:#EAB308;">softwware</p>     
                                <p class="h5 card-text inconsolata-bold"> Portfolio Site for a software development company</p>   
                                <ul class="p-3">
                                    <li>Developed a portfolio website for a software development company.</li>
                                    <li>Designed the website using Figma.</li>
                                    <li>Developed using HTML5, CSS3, JavaScript, and Bootstrap.</li>
                                </ul>
                                <a href="https://shriraamnagarajan.github.io/softwware.github.io/index.html" target="_blank" class="btn btn-dark position-absolute bottom-0 start-0">View Project</a>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>

      
    </section>

</div>

